{% load static %}

<!DOCTYPE html>

<html lang="en">  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    
    <!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">-->
  </head>

  <body>
    <button onlick="copyAllText()">CopyAll</button>
    <br>
    <br>
    {% for i in page_obj %} 
    <h6>{{ i.id }}</h6>
    <input type="checkbox" id="{{ i.id }}" class="mainCLass" name="{{i.name}}" value="">
    <label for="{{ i.id }}">{{i.name}}</label><br>
    {% endfor %}
     <br>
    <br>
    <center>
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo</a>
    {% endif %}
    </center>
  
    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>-->
    <!--<script src="static/main.js"></script>-->
    <script src="static/script.js"></script>
  </body>
</html>


